@charset "utf-8";
/* Reset */
html,body{width:100%;height:100%; }
html{overflow-y:scroll;font-size:10px}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button{margin:0;padding:0}
body,h1,h2,h3,h4,input,button{font-family:Malgun Gothic,'맑은고딕',Helvetica,AppleSDGothicNeo,sans-serif;font-size:12px;color:#555}
body{background-color:#fff;text-align:center;*word-break:break-all;-ms-word-break:break-all}
img,fieldset,iframe{border:0 none}
li{list-style:none}
input,select,button{vertical-align:middle}
img{vertical-align:top}
i,em,address{font-style:normal}
label,button{cursor:pointer}
button{margin:0;padding:0}
a{color:#222;text-decoration:none}
a:hover{color:#000;text-decoration:none}
button *{position:relative}
button img{left:-3px;*left:auto}
html:first-child select{height:20px;padding-right:6px}
option{padding-right:6px}
hr{display:none}
legend{*width:0;display: none;}
table{border-collapse:collapse;border-spacing:0}
input::-ms-clear{display:none}
input {outline: none;border: 0px;}
*:focus {outline: none;}
/* Hidden */
.blind {position:absolute;left:0;top:-9999em}
.hide{display: none;}
/* Clearfix */
.clearfix {*zoom:1}
.clearfix:after {content:'';display:block;clear:both}


::-webkit-scrollbar {
    display: none;
}

#wrap{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;

}
/*header css*/
#editorHeader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 59px;
    line-height: 59px;
    /*box-shadow: 1px 1px 1px  #888888;*/
    background-color: #fff;
    /*background-color: cadetblue;*/
    /*background-image: linear-gradient( 135deg, #5EFCE8 0%, #736EFE 100%);*/
    z-index: 200;
    border-bottom:1px solid #eee;
}
#editorHeader .edi-hinner{
    position: relative;
    width: 100%;
}
#editorHeader .edi-hinner>div{
    float: left;
}
#editorHeader .edi-hinner .edi-right{
    float: right;
}
#editorHeader .edi-left h1{
    width: 60px;
    height: 59px;
    line-height: 59px;
    border-right: 1px solid #eee;
    /*background-color: azure;*/
}
#editorHeader .edi-left h1 a{
    display: block;
    height: 59px;

}
#editorHeader .edi-left h1 a img{
    width: 80%;
    padding-top: 5px;
}
#editorHeader .edi-center{

}
#editorHeader .edi-center>div{
    width: 100%;
}
#editorHeader .edi-center .noteTit{
    padding-left: 5px;
}
#editorHeader .edi-center .noteTit input{
    width: 500px;
    height: 100%;
    border: 1px solid #eee;
    border-radius: 5px;
    margin: 5px 0;
    padding: 5px 10px;
    font-style: italic;
}
/*#se2_sample{
    left: 60px;
    top: 30px;
    width: 500px;
    height: 30px;
}*/
.newBtn{
    position: absolute;
    top:37px;
    left: -130px;
    z-index: 201;

}
.newBtn input{
    font-weight: bold;
    background-color: #fff;
}

.callNoteBtn{
    position: absolute;
    top: 37px;
    left: -80px;
    z-index: 201;

}
.callNoteBtn input{
    font-weight: bold;
    background-color: #fff;
}

.serverBtn{
    position: absolute;
    top: 37px;
    left: -20px;
    z-index: 201;

}
.serverBtn input{
    font-weight: bold;
    background-color: #fff;
}
/* //header css*/

#editorCont{
    width: 100%;
}
#editorCont .left{
    float: left;
    width: 70%;
    height: 100%;
    padding-top: 60px;
}
#editorCont .right{
    float: left;
    width: 30%;
    height: 100%;
    padding-top: 60px;
}
/*addOn영역*/
.addOnList{
    padding-top: 15px;
    margin-right: 10px;
}
.addOnList ul li{
    float: left;
    display: block;
    width: 120px;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
}
.addOnList ul li.on .addOn-btn{

    /* border-bottom: 5px solid #2980b9
     */
    background-color: #2980b9;
    color:#fff;
}
.addOnList ul li .addOn-btn{
    display: inline-block;
    cursor: pointer;
    border: 1px solid #2980b9;
    width: 100%;
    border-radius:9999em;
}
#editorCont .right #addOnWrap{
    width: 100%;
}
#addOnWrap{
    border-left:1px solid #eee;
}
.addOnCon .addOn{
    display: none;
    width: 100%;
    height: 100%;
}
.addOnCon .addOn0{
    /*background-color: #F4DEA1;*/
}
/*맞춤법검사 addOn영역*/
.splChk{

}
.splChk .splChkBtn{
    padding: 20px 0 10px;

}
.splChk .splChkBtn a{
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #2980b9;
    border-radius: 5px;
}
.splChk .splChkInfo{
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 20px;
}
.splChk .splChkInfo span{
    color: #2980b9;
    padding: 0 10px;
}
.splChk .splChkBox ul{
    padding: 0 20px;
}
.splChk .splChkBox ul li{
    border: 1px solid #eee;
    border-radius: 5px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.splChk .splChkBox .applyBtn{
    cursor: pointer;
    color: #2980b9;
    text-align: right;
    padding: 10px;
    font-size: 14px;
}
.splChk .splChkBox .resultInfo{
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
}
.splChk .splChkBox .resultInfo p{
    /**/
}
.splChk .splChkBox .resultInfo p.splRight{
    font-weight: bold;
    font-size: 14px;
    padding: 5px 0;
}
.splChk .splChkBox .resultInfo p.exspl{
    font-size: 10px;
    color: red;
}
.addOnCon .addOn1{
    /*background-color: lightcyan;*/
}
.addOnCon .addOn2{
    /*background-color: lightpink;*/
}
.husky_seditor_ui_bold button i.on{
    color:black;
    font-weight: bold;
    font-size: 14px;
}
.newTit{
    font-size: 32px;
}
/*윤문추천 addOn영역*/
.beautiChk{}
.beautiChk .beautiChkBox{

}
.beautiChk .beautiChkBox ul{

}
.beautiChk .beautiChkBox ul li.beautiBoxList{
    padding: 20px;
}
.beautiChk .beautiChkBox .resultInfo{
    text-align: left;
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 5px;
}

.beautiChk .beautiChkBox .resultInfo p.getTxt{
    font-weight: bold;
    font-size: 14px;

}
.beautiChk .beautiChkBox .resultInfo .recomTit{
    display: inline-block;
    font-weight: bold;
    background: #2980b9;
    color: #fff;
    margin: 10px 0;
    padding: 5px;
}
.beautiChk .beautiChkBox .resultInfo .recomTit i{
    color: #fff;
}
.beautiChk .beautiChkBox .resultInfo .recommedTxt {

}
.beautiChk .beautiChkBox .resultInfo .recommedTxt ul li{
    padding-bottom: 5px;
}
/*글감리스트 addOn영역*/
#bankSub{



}
#bankSub .bsinner{
    padding: 10px 0;
    border-right: 1px solid #eee;
}
.bankSubTop{
    padding:0 10px 20px;
    text-align: left;
}
.bankSubTop .bankSub-tit{
    font-weight: bold;
    cursor: pointer;
}
.bankSubTop .bankSub-categ{
    padding-left: 10px;
    font-weight: bold;
    cursor: pointer;
}
.bankSubTop .bankSub-categ i{
    padding-right: 10px;
}
.bankSubTop .bankSub-categ span{
    text-decoration: underline;
}
.bankSubTop .bankSub-categ span i{
    padding-right: 5px;
}
.bankSubTop .bankSub-total{
    float: right;
}
.bankSubTop .bankSub-total span{
    font-weight: bold;
}
.bankSubTop p{
    display: inline-block;
}
.subSearch{
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.subSearch > div{
    float: left;
}
.subSearch .subSearch-left{
    width: 70%;


}
.subSearch .subSearch-left .search-inner{
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 5px;
    padding: 5px;
}
.subSearch .subSearch-right{
    width: 30%;
}
.subSearch .subSearch-right .search-icon{
    padding-top: 2px;
}
.subSearch .subSearch-right .search-icon>ul>li{
    float: left;
    width: 33.3%;
    text-align: center;
    font-size: 18px;
    padding: 6px 0;
}
.subSearch .subSearch-right .search-icon>ul>li.on{
    background-color: #eee;
    border-radius: 5px;
}
.subSearch .subSearch-right .search-icon>ul>li>a:hover{
    color: #2980b9;
}
.selCateg{
    display: none;
}
/*add 2017-07-17 검색창 영역 수정*/
.subSearch .search-inner{
    position: relative;
}
.subSearch .search-inner input{
    width:90%;
    padding: 5px 0 5px;
}
.subSearch .search-inner a{
    display: inline-block;
    padding: 0 5px;
    vertical-align: middle;
}
.bankSubList{

}
.bankSubList .on{
    background-color: aliceblue;
    border-left: 3px solid #2980b9;
}
.bankSubList a{
    display: block;
    text-align: left;
}
/*까페글*/
.cafeInfo{
    position: relative;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #eee;
    padding: 10px 0
}
.cafeInfo div{
    float: left;
}
.cafeInfo .cafeinner{
    padding: 0 10px;
}
.cafeInfo .cafeLogo{
    width: 60px;
    line-height: 60px;
    height: 100%;
    background-color: #eee;
    text-align: center;
    border-radius: 50%;
}
.cafeInfo .cafeLogo p{
    padding: 10px;
}
.cafeInfo .cafeLogo p img{
    width: 100%;
}
.cafeInfo .cafeTxt{
    /*width: 180px;*/
    padding-top: 10px;
    padding-left: 10px;
}
.cafeInfo .cafeTxt .tit{
    font-weight: bold;
    display: -webkit-box;
    /*max-height: px;*/
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    word-wrap:break-word;
}
.cafeInfo .cafeTxt .date{
    font-size: 11px;
}
.cafeInfo .cafeTxt p{
}

